
.all-authors{
    &__heading {
        padding: 20px 50px;
        font-weight: bold;
        color: $color-green-darker;
        text-align: center;
    }
  &__container{
      padding: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &__item{
        width: 600px;
        display: flex;
        margin-bottom: 40px;
        box-shadow: -2px 10px 18px -4px #FF984E;
        border-radius: 5px;
        border: 1px solid rgb(252, 201, 230);
        border-radius: 20px;
       &__img{
           margin-right: 15px;
           img{
              border-radius: 50%;
              width: 150px;
              height: 150px;
           }
              h3{
                font-size: .8rem;
                color: rgb(0, 0, 0);
                text-align: center;
            }
          
       }
         p{
            margin-top: 20px;
            font-size: .8rem;
            text-overflow: ellipsis;
            white-space: normal;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            border-left: 1px dashed rgba(0, 0, 0, 0.315);
            padding-left: 10px;
            margin-left: -10px;
            color: rgb(216, 47, 47);
            font-weight: 600px;
         }
      }
  }
}