$pastel-pink: #fff7f4;
$pastel-blue: #fefdf8;
$pastel-red: #fff2f2;
$pastel-aqua: #f1fdfbaf;
$pastel-yellow: #fefdf8;

$color-heading: #743820;
$color-label: #b6a49d;
$color-green: #1c9681;
$color-green-darker: #445d59;
$color-light-gray: rgb(184, 184, 184);

$button-bg-color-primary: #ffece5;
$button-bg-color-secondary: #fd7d4c;